* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
body {
    background-color: lightgrey;
    margin: 42px;
}

  .menucontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-around;
    color: lightgrey;
    background-color: #5995DA;
    height: 210px;
    padding: 10px;
    border-radius: 42px;
    /* border: 1px solid lightgrey;
    border-color: lightgrey; */
  }

  .submenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 960px;
    /* border: 1px solid lightgrey;
    border-color: lightgrey; */
  }
  

.name {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: center;
    width: 320px;
    color: lightgrey;
    font-size: 42px;
    border-radius: 42px;
    border-style: solid;
    border-width: 7px 21px 7px 21px;
    border-color: lightgrey;
}


.abt {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-end;
    align-content: center;
    /* border: 1px solid lightgrey;
    border-color: lightgrey; */
}

.port {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-items: flex-end;
    /* border: 1px solid lightgrey;
    border-color: lightgrey; */
}

.cntct {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-items: flex-end;
    /* border: 1px solid lightgrey;
    border-color: lightgrey; */
}


.sectioncontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-around;
    color: lightgrey;
    background-color: #5995DA;
    height: auto;
    padding: 10px;
    border-radius: 42px;
    /* border: 1px solid lightgrey;
    border-color: lightgrey; */
  }

.section {
        display: flex;
        flex-direction: row;
        justify-content: left;
        
        width: 960px;
        height: auto;
        /* border: 1px solid lightgrey;
        border-color: lightgrey; */
}

.paragragh {
    display:flex;
    flex-wrap: wrap;
    width: auto;
    margin: 10px;
    text-align: justify;
}

.footercontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-around;
    color: lightgrey;
    background-color: #5995DA;
    height: aut;
    padding: 10px;
    border-radius: 42px;
    border: 1px solid lightgrey;
    border-color: lightgrey;
}

  /* hyperlink 411 */

a {
    text-decoration: none;
    color: fff;
    text-decoration: underline;
  }

 